nav {
	/*display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr;
	grid-auto-columns: max-content;
	align-items: stretch;*/

	display: flex;
	align-items: stretch;

	min-width: 0;
}
#main-nav {
	--link-color: currentColor;
	height: var(--main-menu-height);
	/* background-color: rgba(255, 255, 255, 0.95); */
	background-image: radial-gradient(circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95));
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
	overflow-x: auto;
	overflow-y: hidden;

	-webkit-backdrop-filter: var(--backdrop-blur);
	backdrop-filter: var(--backdrop-blur);
}
#secondary-nav, #screen-reader-nav {
	height: var(--secondary-menu-height);
	background-color: var(--color-1);
	--link-color: #fff;
	font-size: 0.8rem;
	white-space: nowrap;

	position: relative;
	z-index: 2;
}
#screen-reader-nav {
	background: linear-gradient(to right, var(--color-1) 90%, transparent);
	position: absolute;
	z-index: 3;
}
#screen-reader-nav:not(:focus-within) {
	left: -10000px;
	width: 1px;
	height: 1px;
	margin: -0.5px;
	overflow: hidden;
}

nav > * {
	display: flex;
	position: relative;
	/* perspective: 2rem;
	perspective-origin: bottom; */
}
nav > * > a {
	display: flex;
	align-items: center;
	padding: 0 1em;
}
nav > :first-child > a, nav > a:first-child {
	padding-left: var(--padding);
}
nav > :last-child > a {
	padding-right: var(--padding);
}

#main-nav > * {
	position: relative;
}
#main-nav > * > a {
	letter-spacing: 0.04em;
	z-index: 1;
	transition: 0.3s, transform 0.3s 0.05s cubic-bezier(.87,-1,.19,2);
}
#main-nav > * > a:hover,
#main-nav > * > a:focus,
#main-nav > * > a.current {
	text-shadow: rgba(0, 0, 0, 0.1) 0 0 0.1em;
	transform: scale(1.15);
}
header.show-post-nav #main-nav > * > a:not(.current) {
	font-size: 0;
}
#main-nav > * > a + dy-icon {
	position: absolute;
	height: var(--main-menu-height);
	transition: transform 0.3s cubic-bezier(.87,-1,.19,2), 0.3s;
}
#main-nav > * > a:not(:hover):not(:focus):not(.current) + dy-icon {
	color: rgba(0, 0, 0, 0.1);
}
#main-nav > * > a:hover + dy-icon,
#main-nav > * > a:focus + dy-icon,
#main-nav > * > a.current + dy-icon {
	opacity: 0.8;
	transform: scale(1.2);
}

/* Sub menu */
nav > * > a + div {
	--submenu-background: rgba(255, 255, 255, 0.925);
	-webkit-backdrop-filter: var(--backdrop-blur);
	backdrop-filter: var(--backdrop-blur);

	--link-color: var(--color);
	line-height: 1;
	
	position: absolute;
	right: 0;
	top: 100%;

	transition: 0.3s;
	transform-origin: top;
	transform: perspective(50rem);

	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr;
}
nav > :not(:hover) > a:not(:focus) + div:not(:focus-within) {
	opacity: 0;
	transform: perspective(20rem) rotateX(45deg);
	pointer-events: none;
}

nav > * > a + div > * {
	display: grid;
}
nav > * > a + div > * > a {
	background-color: var(--submenu-background);
	padding: 0.5em;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 0.5rem;
	justify-content: start;
	align-items: center;
}
nav i[icon] {
	transition: 0.2s;
}
nav a:hover i[icon],
nav a:focus i[icon] {
	transform: scale(1.25);
}

@media (min-width: 30rem) {
	nav > * {
		position: static;
	}
	nav > * > a + div {
		border: 0.25em solid var(--submenu-background);
		height: var(--main-menu-height);
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: 1fr 1fr 1fr;
		grid-auto-columns: -webkit-max-content;
		grid-auto-columns: max-content;
		font-size: 0.9em;
	}
	nav > * > a + div > * > a {
		padding: 0 0.5em;
	}
}



#logo {
	/* background: url('../logo/Darryl-Yeo-Logo.svg') left/contain no-repeat;
	zoom: 10;background:url('../logo/DY-Logo.svg') -7.6px 11.5px/76.5px no-repeat;
	position: relative;
	font-size: 5.08em; */

	order: 1;
	height: calc(50px + 3.5vw);

	color: transparent;
	font-family: Darryl-Yeo, var(--heading-font);
	font-size: 5rem;
	font-weight: normal;
	line-height: 1;
	padding-right: 1rem;
	text-rendering: geometricPrecision;
	white-space: nowrap;
	perspective: 2em;

	transition: transform 0.3s cubic-bezier(0.5, -1.5, 0, 4);
	transform-origin: left;
	transform: perspective(10rem);
	transform-style: flat;
}
#logo:hover {
	transform: perspective(10rem) scale(0.95) rotateY(1deg);
}
/* #logo svg {
	position: absolute;
	height: 100%;
	opacity: 0.5;
	transform: translateX(1.4px);
} */
#logo > span {
	display: flex;
	align-items: center;
}
#logo .darryl {
	color: #14b4ff;
}
#logo .yeo {
	color: #ffb84e;
	margin-left: -0.1em;
	padding-left: 0.1em;
}
#logo .arryl, #logo .eo {
	transform-origin: left;
	transition: transform 0.4s 0.1s, font-size 0.3s;
}
@media (max-width: 42rem) {
	#logo .arryl, #logo .eo {
		font-size: 0;
		transform: scale(0.5) rotateY(90deg);
		transition: transform 0.3s, font-size 0.4s 0.1s;
	}
}

#main-nav:before {
	content: '';
	order: 2;
	flex: 1;
	transition: 0.3s;
}
header.sticky.show-post-nav #main-nav:before {
	flex: 0;
}

#main-nav #logo ~ div {
	order: 3;
}

#main-nav #logo ~ * > a {
	font-family: var(--heading-font);
	text-transform: uppercase;
	width: max-content;
}

#main-nav:after {
	content: '';
	order: 4;
	flex: 0;
	transition: 0.3s;
}
header.show-post-nav #main-nav:after {
	flex: 1;
}

#main-nav dy-nav {
	order: 5;
	padding-left: 1em;
}
header:not(.show-post-nav) #main-nav dy-nav {
	font-size: 0;
	--padding: 0;
}


#secondary-nav > * + *:before {
	content: 'â—';
	color: #fff;
	display: flex;
	justify-content: center;
	align-self: center;
	transform: scale(0.5);
	width: 0;
}
#secondary-nav > :nth-last-child(2) {
	margin-left: auto;
}
#secondary-nav > :nth-last-child(2):before {
	content: '';
}