:root {
	box-sizing: border-box;

	background: var(--page-background);
	/* background-color: white; */
	transition: background 1s;

	color: var(--color);

	font-family: var(--body-font);
	font-size: calc(14px + 0.4vw);
	font-synthesis: weight;
	line-height: 1.75;

	overflow-x: hidden;
	overflow-y: auto;

	tab-size: 4;

	-webkit-text-decoration-color: var(--color-1-half);
	-moz-text-decoration-color: var(--color-1-half);
	text-decoration-color: var(--color-1-half);
	-webkit-text-decoration-skip: skip;
	text-decoration-skip: ink;
}

body {
	margin: 0;
}

dy-page {
	box-shadow: rgba(0,0,0,.15) 0 0 20px, rgba(0,0,0,.15) 0 0 100px;

	width: 96%;
	min-height: 100vh;
	margin: 0 auto;
	grid-template-columns: 100%;

	display: grid;
	grid-template-areas: 
		"header"
		"main"
		"footer";
	grid-template-rows: auto 1fr auto;
	grid-gap: 1px;
}

dy-page > header {
	grid-area: header;
	position: -webkit-sticky;
	position: sticky;
	z-index: 2;
	transition: top 0.3s;
	mix-blend-mode: luminosity;

	top: calc(var(--header-y) - var(--header-height));
}
/*dy-page > header.sticky {
	font-size: 0.5em;
}*/
dy-page > header:not(.sticky-open) {
	--header-y: 0px;
}
dy-page > header.sticky-open {
	--header-y: var(--main-menu-height);
}
dy-page > header:hover,
dy-page > header:focus-within {
	--header-y: var(--header-height);
	mix-blend-mode: normal;
}

main {
	grid-area: main;

	display: grid;
	grid-template-areas:
		'project-header project-header'
		'article sidebar';
	grid-template-columns: 1fr auto;
	grid-template-columns: 1fr max-content;

	background-color: rgba(255, 255, 255, 0.6);
}
main.loading {
	opacity: 0.85;
}
main.loading:after {
	content: '';
	background: url(../logo/DY-Logo-Animated.svg) center/25vmin no-repeat fixed;
	mix-blend-mode: luminosity;
	grid-area: 1 / 1 / -1 / -1;
}

main dy-project-header {
	grid-area: project-header;
}

main article {
	grid-area: article;
	justify-items: center;
}

main dy-sidebar {
	--top: 0;
	--height: calc(100vh - var(--top));
	grid-area: sidebar;
	display: grid;
	justify-items: end;
	align-items: start;
	width: 16rem;
	margin-left: var(--padding-neg);
	pointer-events: none;
}
header.sticky-open ~ main dy-sidebar {
	--top: 0;
}
header.sticky-open ~ main dy-sidebar {
	--top: var(--main-menu-height);
}
main dy-sidebar:before,
main dy-sidebar aside {
	position: sticky;
	top: var(--top);
	pointer-events: initial;
	grid-area: 1 / 1 / -1 / -1;
}
main dy-sidebar aside {
	display: grid;
	grid-gap: var(--padding);

	max-height: var(--height);
	padding: calc(var(--padding) / 2) var(--padding);
	overflow-y: auto;

	transition: top 0.3s, height 0.3s;
}
dy-sidebar dy-terms {
	font-size: 0.8em;
}
.anchor-bottom {
	margin-top: auto;
}

dy-page > footer {
	display: grid;
	grid-area: footer;
	padding: var(--padding);
	background-color: rgba(38, 38, 38, 0.9);
	color: rgba(255, 255, 255, 0.5);
}


@media (max-width: 45rem) {
	main {
		grid-template-areas:
			'project-header .'
			'article sidebar';
		grid-template-columns: 100% auto;
	}
	main dy-sidebar {
		grid-area: article;
		justify-self: end;
	}
	main dy-sidebar:before {
		content: '☰';

		display: grid;
		justify-content: center;
		align-items: center;
		
		width: 1.8em;
		height: 1.5em;
		line-height: 1.5em;
		transform: translate(-0.5rem, 0.5rem);

		background-color: rgba(255, 255, 255, 0.9);
		border-radius: 0.2em;

		transition: 0.3s;
	}
	main dy-sidebar:hover:before,
	main dy-sidebar:focus-within:before {
		opacity: 0;
		/* color: transparent; */
		transform: none;
		width: 100%;
		/* height: var(--height); */
	}
	main dy-sidebar aside {
		border-bottom-left-radius: 1rem;
		padding: calc(var(--padding) / 2);
		transform: scale(0);
		transform-origin: right top;
		transition: 0.3s;
	}
	main dy-sidebar:hover aside,
	main dy-sidebar:focus-within aside {
		background-color: rgba(255, 255, 255, 0.9);
		transform: none;
		z-index: 1;
	}
}