:root {
	background: url(../logo/DY-Logo-Animated.svg) center/25vmin no-repeat fixed, var(--page-background);
	background-blend-mode: luminosity;
}
:root:not(.load) {
	cursor: progress;
}
:root.load {
	/* transform: translateY(4rem) rotate(10deg) scale(0); */
	/* transform: translate(-40vw, -40vh) scale(0); */
	/* background-position: left top;
	background-size: 0; */
	background: url(../logo/DY-Logo-Animated.svg) left top/0 no-repeat fixed, var(--page-background);
	transition: background-size 1s, background-position 1s;
}


dy-page {
	animation: PageIn 1s, ApplyPerspective 2s;
}

@keyframes PageIn {
	from {
		/* filter: blur(0.5em); */
		opacity: 0;
		transform: translateZ(calc(var(--index) * 0.1rem));
	}
}
@keyframes ApplyPerspective {
	from, to {
		perspective: 10rem;
		transform-style: preserve-3d;
	}
}


dy-page * {
	/* animation: PageContentIn calc(0.5s + var(--index) * 0.15s);
	animation: PageContentIn calc(0.5s + var(--index) * 0.15s) 0.2s backwards; */
	animation: PageContentIn 0.5s calc(var(--index) * 0.15s) backwards;
}

@keyframes PageContentIn {
	from {
		overflow: visible;
		transform: translateZ(calc(var(--index) * 1rem));
		pointer-events: none;
		opacity: 0;
	}
}

:root:not(.load) dy-page,
:root:not(.load) dy-page * {
	animation-play-state: paused;
}