dy-project {
	--tilt: -10deg;
	--tilt-neg: calc(var(--tilt) * -1);
	--card-shadow: rgba(0, 0, 0, 0.15) 0 1em 4em;
	display: flex;

	flex: 1 12rem;
	width: 16rem;
}
dy-project:not(.focused):hover {
	--tilt: -5deg;
}
dy-project.focused {
	--tilt: 0;
	z-index: 2;
}

dy-projects.has-focused-project dy-project:not(.focused) > * > * {
	opacity: calc(0.1 + var(--supports-backdrop-filter) * 0.6);
	opacity: 0.1;
}

dy-project:not(.focused) * {
	pointer-events: none;
}

.positioning-wrapper {
	height: 0;
	/* transition: 0.3s, transform 0.5s 0.1s; */
}
dy-project.focused .positioning-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 2%;
	pointer-events: none;
	transform: translateX(var(--x));
	/* -webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px); */
}

.inner-wrapper {
	display: grid;
	grid-gap: 0.5rem;
	grid-auto-rows: max-content 1fr;
	grid-auto-rows: -webkit-max-content 1fr;
	pointer-events: initial;
	padding: 0.5em;
	transform: rotateX(var(--tilt));
	transform-origin: top;
	transform-style: preserve-3d;
	transition: transform 0.3s;
}
dy-project.focused .inner-wrapper {
	max-height: 100%;
}

.title-wrapper {
	font-size: 0.85em;
	line-height: 1.2;
	display: flex;

	transform: rotateX(calc(var(--tilt) * -1));
	transition: transform 0.3s;
}
.title-wrapper a {
	flex: 1;
	--link-underline: none;
	--link-color: rgba(0, 0, 0, 0.7);
}
.title-wrapper .close {
	background-color: rgba(255, 255, 255, 0.5);
	flex: 0;
	padding: 0.5em;
	transition: 0.3s;
}
dy-project:not(.focused) .title-wrapper .close {
	transform: scale(0);
	padding: 0;
	width: 0;
}
@keyframes ScaleDown {
	to {
		transform: scale(0);
		padding: 0;
		margin: 0;
		width: 0;
		display: none;
	}
}

.card {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 100% 0;
	grid-template-rows: max-content;
	border-radius: 0.5rem;
	overflow: hidden;
}
dy-project:hover .card,
dy-project.focused .card {
	box-shadow: var(--card-shadow);
}
dy-project.focused .card {
	display: grid;
	grid-template-columns: minmax(0, -webkit-max-content) minmax(40%, 1fr);
	grid-template-columns: minmax(0, max-content) minmax(22rem, 40%);
	grid-template-columns: minmax(0, max-content) minmax(40%, 22rem);
	grid-template-columns: minmax(0, max-content) 22rem;
}

dy-project.focused .featured-image {
	display: grid;
	position: relative;
	overflow: auto;
}

dy-project img {
	max-width: 100%;
}
dy-project:not(.focused):not(:hover) img {
	-webkit-mask-image: linear-gradient(#fff, #fff 7rem, rgba(255, 255, 255, 0.25) 14rem, transparent);
	mask-image: linear-gradient(#fff, #fff 7rem, rgba(255, 255, 255, 0.25) 14rem, transparent);
}
dy-project.focused img {
	width: auto;
	max-height: calc(70vh - 2rem);
}
dy-project.no-featured-image img {
	width: 100%;
	height: 15rem;
}

.card .details {
	transition: 0.3s;
	min-height: 100%;
	height: 0;
}

.card .details-inner {
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 1.5rem;
}
.details-inner {
	overflow-y: auto;

	display: grid;
	grid-gap: 1em;
	grid-auto-rows: auto auto 1fr;
}

.details-inner .excerpt:first-letter {
	font-family: var(--heading-font);
	font-weight: bold;
	color: var(--color-1);
	text-transform: uppercase;
	padding-right: 0.05em;
}
@supports (-webkit-initial-letter: 2) {
	.details-inner .excerpt:first-letter {
		-webkit-initial-letter: 2;
		initial-letter: 2;
	}
}
@supports not (-webkit-initial-letter: 2) {
	.details-inner .excerpt:first-letter {
		float: left;
		font-size: 5.1em;
		line-height: 1;
	}
}

.details-inner .dates {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.details-inner .modified-date-wrapper {
	font-size: 0.85em;
}

.details-inner dy-terms {
	margin-top: auto;
}



@media (max-width: 45rem) {
	dy-project.focused .card {
		display: block;
		overflow-y: auto;
	}
	dy-project.focused .details {
		width: 0;
		min-width: 100%;
		height: initial;
	}
	dy-project.focused .details-inner {
		position: static;
	}
}