dy-project {
	--focused: 0;

	--tilt: -10deg;
	--tilt-neg: calc(var(--tilt) * -1);
	--card-shadow: rgba(0, 0, 0, 0.15) 0 1em 4em;
	display: flex;

	flex: 1 12rem;
	width: 16rem;
	margin: auto;
	transform-style: preserve-3d;
	transition: transform 0.3s cubic-bezier(0.1, 2, 1, 1), opacity 0.3s;
}
dy-project:before {
	content: var(--focused);
}
dy-project:not(.focused):hover {
	--tilt: -5deg;
	cursor: pointer;
	transform: translate3d(0, -0.1rem, 0.5rem);
}
dy-project.focused {
	--focused: 1;
	--tilt: 0;
	transform-style: inherit;
	z-index: 2;
}
dy-project.hide {
	opacity: 0;
	position: absolute;
	pointer-events: none;
}

dy-project:not(.focused) * {
	pointer-events: none;
}

.positioning-wrapper {
	display: flex;
	/* transition: 0.3s, transform 0.5s 0.1s; */
}
dy-project.focused .positioning-wrapper {
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 2%;
	pointer-events: none;
	transform: translate(var(--x), var(--y));
	will-change: transform;
	/* -webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px); */
}

.inner-wrapper {
	display: grid;
	grid-gap: 0.5rem;
	grid-auto-rows: -webkit-max-content 1fr;
	grid-auto-rows: max-content 1fr;
	pointer-events: initial;
	margin: auto 0;
	padding: 0.5em;
	transform: rotateX(var(--tilt));
	transform-origin: top;
	transform-style: preserve-3d;
	transition: transform 0.3s;
}
dy-project.focused .inner-wrapper {
	max-height: 100%;
}

dy-projects.has-focused-project dy-project:not(.focused) .inner-wrapper > * {
	opacity: calc(0.1 + var(--supports-backdrop-filter) * 0.6);
	opacity: 0.1;
}

.title-wrapper {
	font-size: 0.85em;
	line-height: 1.2;
	display: flex;
	transform: rotateX(calc(var(--tilt) * -1));
	transition: transform 0.3s, opacity 0.3s;
}
.title-wrapper a {
	flex: 1;
	--link-underline: none;
	--link-color: rgba(0, 0, 0, 0.7);
}
.title-wrapper .close {
	background-color: rgba(255, 255, 255, 0.5);
	flex: 0;
	padding: 0.5em;
	transition: 0.3s;
}
dy-project:not(.focused) .title-wrapper .close {
	transform: scale(0);
	padding: 0;
	width: 0;
}
@keyframes ScaleDown {
	to {
		transform: scale(0);
		padding: 0;
		margin: 0;
		width: 0;
		display: none;
	}
}

.card {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 100% 0;
	grid-template-rows: -webkit-max-content;
	grid-template-rows: max-content;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: opacity 0.3s;
}
dy-project:hover .card,
dy-project.focused .card {
	box-shadow: var(--card-shadow);
}
dy-project.focused .card {
	display: grid;
	grid-template-columns: minmax(0, -webkit-max-content) 22rem;
	grid-template-columns: minmax(0, max-content) minmax(0, 22rem);
}

dy-project.focused .featured-image {
	display: grid;
	position: relative;
	overflow: auto;
}

dy-project img {
	max-width: 100%;
	transition: -webkit-mask 0.3s;
}
dy-project:not(.focused)/*:not(:hover)*/ img {
	-webkit-mask: linear-gradient(#fff, #fff 33%, transparent) 0 0/100% 18rem no-repeat;
	mask: linear-gradient(#fff, #fff 33%, transparent) 0 0/100% 18rem no-repeat;
}
dy-project:not(.focused):hover img {
	-webkit-mask: linear-gradient(#fff, #fff 33%, transparent) 0 -4rem/100% 30rem no-repeat;
	mask: linear-gradient(#fff, #fff 33%, transparent) 0 -4rem/100% 30rem no-repeat;
}
dy-project.focused img {
	width: auto;
	max-height: calc(70vh - 2rem);
}
dy-project.no-featured-image img {
	width: 100%;
	height: 15rem;
}

.card .details {
	display: grid;
	grid-gap: 1em;
	grid-auto-rows: auto auto 1fr;

	padding: 1.5rem;
	min-height: 100%;
	height: 0;

	background-color: rgba(255, 255, 255, 0.5);
	overflow-y: auto;

	/* transition: 0.3s; */
}

.details .dates {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.details .modified-date-wrapper {
	font-size: 0.85em;
}

.details dy-terms {
	margin-top: auto;
}



@media (max-width: 45rem) {
	dy-project.focused .card {
		display: block;
		overflow-y: auto;
	}
	dy-project.focused .details {
		width: 0;
		min-width: 100%;
		height: initial;
	}
	dy-project.focused .details {
		position: static;
	}
}

@media (max-height: 493px) {
	dy-project {
		--tilt: 0;
	}
	dy-project img {
		-webkit-mask-image: none !important;
		mask-image: none !important;
	}
}


@media (max-width: 34rem) {
	dy-project {
		max-height: 14rem;
	}
}