dy-button, button, [type=button], [role=button], ::-webkit-file-upload-button {
	-webkit-appearance: none;
	border: none;
	color: inherit;
	font: inherit;

	display: inline-grid;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	grid-gap: 0.5em;
	grid-auto-flow: column;
	
	padding: 0 1em;
	line-height: 2;

	position: relative;
	text-align: center;
	white-space: nowrap;
	transition: 0.2s;

	cursor: pointer;

	--border-radius: 0.5em;
	border-radius:
		var(--border-top-left-radius, var(--border-radius))
		var(--border-top-right-radius, var(--border-radius))
		var(--border-bottom-right-radius, var(--border-radius))
		var(--border-bottom-left-radius, var(--border-radius));
}

dy-button:active, button:active {
	transition: 0.1s;
}

dy-button[theme~=small] {
	font-size: 0.8em;
	vertical-align: 0.15em;
}

dy-button[theme~=plain] {
	background-color: rgba(255, 255, 255, 0.5);
	color: rgba(0, 0, 0, 0.75);
	
	--button-shadow-color: rgba(0, 0, 0, 0.075);
	--border-radius: 1ch;
}
dy-button[theme~=plain]:not([theme~='3D']):hover:not(:active),
dy-button[theme~=plain]:not([theme~='3D']):focus:not(:active) {
	box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px;
	transform: translateY(-1px);
}
/* dy-button[theme~=plain]:not([theme~='3D']):hover, */
dy-button[theme~=plain]:not([theme~='3D']).active {
	background-color: var(--color-1);
	color: #fff;
	opacity: 0.9;
}
dy-button[theme~=plain].active {
	opacity: 1;
}
dy-button[theme~=plain][disabled] {
	background-color: rgba(0, 0, 0, .05);
	opacity: 0.3;
}

dy-button[theme~=accented], button {
	background-color: var(--color-1-light);
	color: rgba(255, 255, 255, 0.95);
	text-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
	--button-shadow-color: var(--color-1);
}

dy-button[theme~=heavy], button {
	font-weight: bold;
	line-height: 1;
	padding: 1ch 1em;
	text-transform: uppercase;
}

dy-button[theme~='3D'], button {
	--button-height: 4px;
	--button-offset: 2px;
	--button-shadow: var(--button-shadow-color) 0 var(--button-height);
	--focus-shadow: var(--color-1-quarter) 0 0;

	box-shadow: var(--button-shadow), var(--focus-shadow);
	top: var(--button-offset);
	transform: translateY(calc(-1 * var(--button-height)));
}
dy-button[theme~='3D']:hover, button:hover {
	--button-height: 5px;
}
dy-button[theme~='3D']:focus:not(:active), button:focus:not(:active) {
	--focus-shadow: var(--color-1) 0 var(--button-height) 2px;
}
dy-button[theme~='3D']:active, button:active {
	--button-height: 0px;
}

dy-button[theme~=animated]:focus {
	--jump-height: 1.02;
	--jump-bounce: 0.98;
	--jump-shake: 0.15;

	--jump-height: 1.00;
	--jump-bounce: 1;
	--jump-shake: 0;
}
dy-button[theme~=animated]:not(:active):focus {
	--jump-height: 3;
	--jump-bounce: 0.7;
	--jump-shake: 2;
	animation: ButtonMouseUpJump 0.5s, ButtonMouseUpShadow 0.5s 0.25s backwards;
	z-index: 1;
}

/*button:focus {
	box-shadow: var(--color-1) 0 var(--button-height), transparent 0 0 0 5em;
}*/

@keyframes ButtonMouseUpJump {
	from {
		transform: scale(0.95);
	}
	25% {
		transform: scale(var(--jump-height)) rotate(calc(var(--jump-shake) * 1deg));
		animation-timing-function: ease-in;
	}
	50% {
		box-shadow: var(--color-1) 0 0, var(--color-1-quarter) 0 0;
		transform: scale(var(--jump-bounce)) rotate(calc(var(--jump-shake) * -2deg));
		opacity: 0.9;
	}
	to {
		transform: none;
	}
}
@keyframes ButtonMouseUpShadow {
	from {
		box-shadow: var(--color-1) 0 0, var(--color-1-quarter) 0 0;
		top: calc(var(--button-height) / 2);
	}
	/*50% {
		box-shadow: var(--color-1) 0 0, var(--color-1-quarter) 0 0;
	}*/
	to {
		box-shadow: var(--color-1) 0 var(--button-height), transparent 0 0 0 5em;
		top: calc(var(--button-height) / -2);
	}
}


dy-buttons {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1px;
}
dy-buttons[full] {
	display: block;
}

dy-buttons dy-button:first-of-type:not(:last-of-type) {
	--border-top-right-radius: 0;
	--border-bottom-right-radius: 0;
}
dy-buttons dy-button:not(:first-of-type) {
	--border-top-left-radius: 0;
	--border-bottom-left-radius: 0;
}