dy-comments {
	display: grid;
	grid-gap: 0.5rem;
	padding: 0 var(--padding);
	font-size: 0.9em;
	text-align: left;
	contain: content;
}

dy-comment, dy-comment-reply {
	display: grid;
	grid-template:
		'avatar content'
		'. replies'
		/ auto 1fr;
	grid-gap: 0.75rem;
	width: 100%;
}
dy-comment-reply {
	grid-template-areas:
		'avatar content';
}

dy-comments .avatar {
	grid-area: avatar;
	border-radius: 0.75em;
	max-width: 10vw;
	width: 5em;
	height: 5em;
	box-shadow: var(--box-shadow);
}

dy-comments .comment {
	grid-area: content;
	display: grid;
	grid-gap: 0.5em;
	min-height: 1em;
	padding: 1em 1em 0.75em;
	position: relative;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: var(--box-shadow);
	border-radius: 0.75rem;
}
dy-comments .comment:before {
	content: '';
	border: solid transparent;
	border-width: 0.4em 0.5em;
	border-right-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	right: 100%;
	top: 2em;
}

dy-comments dy-comment .comment header,
dy-comments dy-comment-reply .comment header {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 0.5em;
	font-size: 0.8em;
}
dy-comments dy-comment > .comment header {
	grid-auto-columns: 1fr auto auto;
	align-items: center;
}
dy-comments dy-comment-reply .comment header {
	grid-auto-columns: minmax(50%, 1fr) minmax(10rem, auto);
}
dy-comments .author {
	font-family: var(--heading-font);
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
}
dy-comments .comment-date {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 0.25em;
	border-radius: 0.25em;
	display: inline-block;
	line-height: 1;
}

dy-comment.by-me .reply-button,
dy-comment:not(.by-me) .edit-button {
	display: none;
}

dy-comment .content {
	display: grid;
	grid-gap: 0.5em;
}

dy-comment .replies {
	grid-area: replies;
	display: flex;
	flex-direction: column;
	grid-gap: 1em;
	font-size: 0.96em;
}

dy-comment-reply {
	animation: Reply 1s;
}
@keyframes Reply {
	from {
		max-height: 0;
		overflow: hidden;
		transform: scale(0.9);
	}
	to {
		max-height: 100vh;
	}
}

/*dy-comment-reply input, dy-comment-reply input:focus, dy-comment-reply textarea, dy-comment-reply textarea:focus {
	background: unset;
	border: unset;
	border-radius: unset;
	box-shadow: unset;
	filter: unset;
	margin: unset;
	padding: unset;
	display: inline;
	width: 100%;
}*/
dy-comment-reply dy-textarea {
	max-width: 100%;
	width: 100%;
	min-height: 8em;
}

dy-comment-reply [name='author_email'] {
	font-family: var(--heading-font);
	font-size: 1.25em;
	text-align: right;

	text-transform: uppercase;
}

dy-comment-reply footer {
	justify-content: space-between;
}

dy-comment-reply .meta {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	font-size: 0.9em;
	grid-gap: 1em;
	padding: 0 0.5em;
}