dy-notifications {
	/*display: grid;
	grid-auto-rows: max-content;
	justify-items: end;
	align-items: end;
	align-content: end;
	grid-gap: 3px;
	*/

	display: flex;
	flex-direction: column;
	/* justify-content: flex-end; */
	align-items: flex-end;

	padding: 6px;
	margin: -3px;

	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 0.8em;
	overflow-y: auto;
	text-align: justify;
	max-height: max-content;
	height: 100%;
	z-index: 2;
	transition: padding 0.3s;
}


dy-notification {
	background-color: rgba(255,255,255,0.9);
	border-radius: 7px;
	border-bottom-right-radius: 4px;
	box-shadow: rgba(0,0,0,.118) 0 4px 3px -3px;
	box-sizing: content-box;
	display: flex;
	position: relative;
	line-height: 1.4;
	overflow: hidden;
	margin: 3px;
	/* padding: 0.4em 0.5em; */
	width: max-content;
	min-width: 10vw;
	max-width: 22rem;
	min-height: min-content;
	transform-origin: right bottom;
	animation: NotificationShow .5s;
}
dy-notification.success {
	background-color: rgba(139,195,74,0.9);
	color: rgba(255, 255, 255, 0.9);
}
dy-notification.warning {
	background-color: rgba(255, 213, 79, 0.9);
}
dy-notification.error {
	background-color: rgba(255,87,34,0.9);
	color: rgba(255, 255, 255, 0.9);
}

dy-notification.remind {
	animation: NotificationShow 0.3s, NotificationRepeat 0.3s;
}
dy-notification.hide {
	animation: NotificationHide 0.3s ease-out forwards;
}

@keyframes NotificationShow {
	from {
		margin: 0;
		min-height: 0;
		max-height: 0;
		opacity: 0;
		padding-top: 0;
		padding-bottom: 0;
		transform: scale(0);
	}
}
@keyframes NotificationHide {
	to {
		margin: 0;
		min-height: 0;
		max-height: 0;
		opacity: 0;
		padding-top: 0;
		padding-bottom: 0;
		transform: scale(0);
	}
}
@keyframes NotificationRepeat {
	50% {
		transform: scale(1.1);
	}
}

dy-notification .icon {
	background: rgba(0, 0, 0, 0.05) center/80% no-repeat;
	color: #000;
	min-width: 2.25em;
}

dy-notification .icon:not([icon]):not([style*=background-image]) {
	display: none;
}

dy-notification .inner-wrapper {
	flex: 1;
	overflow-y: auto;
	max-height: 10rem;
	padding: 0.4em 0.5em;
}
dy-notification .inner-wrapper > dy-button {
	float: right;
	margin-left: 1ch;
	font-size: 0.7em;
}

dy-notification .content {
	display: inline;
}