dy-nav {
	display: flex;
	flex-direction: row-reverse;
	overflow-x: auto;
	padding: 0 var(--padding);
	
	line-height: 1.5;
	white-space: nowrap;
}

dy-nav .inner-wrapper {
	display: grid;
	grid-gap: 0.25rem;
	justify-items: end;
	align-content: center;
}
dy-nav .current-title {
	font-size: 1.1em;
	overflow-x: auto;
	max-width: 100%;
	justify-items: end;
}

dy-nav .prev-next {
	display: grid;
	grid-auto-flow:  column;
	grid-gap: 0.5rem;
	font-size: 0.8em;
	justify-content: space-between;
	overflow-x: auto;
	max-width: 100%;
}
dy-nav:not(.has-prev-next) .prev-next {
	font-size: 0;
}
dy-nav .inner-wrapper:not(:hover) .current-title,
dy-nav .inner-wrapper:not(:hover) [rel] {
	overflow: hidden;
	text-overflow: ellipsis;
}
dy-nav [rel=prev] {
	text-align: right;
}
dy-nav [rel=prev]:before {
	content: '‹ ';
}
dy-nav [rel=next]:after {
	content: ' ›';
}