dy-projects {
	--perspective: 30rem;
	--perspective-intensity: 10;
	--projects-padding: 1rem;
	--filters-width: 15rem;

	display: grid;
	grid-template-areas:
		'terms projects';
	grid-template-columns: var(--filters-width) 1fr;
	grid-template-rows: 100%;

	height: calc(100vh - var(--main-menu-height));
}

dy-project-filters {
	grid-area: terms;
	font-size: 0.85em;
	padding: 1rem;
	overflow-y: auto;
}
dy-projects.has-focused-project dy-project-filters {
	opacity: 0.1;
}
dy-projects:not(.has-focused-project) dy-project-filters {
	z-index: 1;
}



dy-projects .projects-wrapper {
	grid-area: projects;
	grid-column-start: 1;

	display: grid;
}
dy-projects:not(.has-focused-project) .projects-wrapper {
	-webkit-mask-image: linear-gradient(
		to right, transparent,
		rgba(255, 255, 255, 0.1) calc(var(--filters-width) - 2rem),
		#fff calc(var(--filters-width) + 2rem),
		#fff
	);
	mask-image: linear-gradient(
		to right,
		transparent,
		rgba(255, 255, 255, 0.1) calc(var(--filters-width) - 2rem),
		#fff calc(var(--filters-width) + 2rem),
		#fff
	);
}

dy-projects .projects {
	/* display: grid;
	grid-auto-flow: column;
	grid-template-rows: 1fr 1fr 1.25fr;
	grid-auto-columns: 16rem; */
	/* grid-gap: 1rem; */
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(auto-fit, minmax(12rem, 1fr));
	grid-auto-columns: minmax(16rem, 1fr);
	grid-auto-columns: 16rem;
	justify-content: safe center;

	padding: var(--projects-padding);
	padding-left: var(--filters-width);

	font-size: 0.85em;

	max-width: 100%;
	/* max-height: 100vh; */
	overflow-x: auto;
	overflow-y: hidden;

	perspective: var(--perspective);
}


@media (max-width: 34rem) {
	dy-projects {
		--filters-width: 0;
		--projects-padding: 0.5rem;
		height: auto;
	}
	dy-project-filters {
		display: none;
	}
	dy-projects .projects {
		padding-left: var(--projects-padding);
		flex-direction: row;
		overflow-x: hidden;
		grid-auto-flow: row;
		grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
		max-height: calc(100vh - var(--header-height));
		overflow-y: auto;
	}

	/* body {
		perspective: 30rem;
		max-height: 100vh;
		overflow-y: auto;
	} */
}