dy-terms dl,
dy-project-filters dl {
	/*display: grid;
	grid-gap: 1em;
	justify-items: center;*/

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: -0.25em -0.5em;
}
dy-terms [data-taxonomy],
dy-project-filters [data-taxonomy] {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-items: stretch;
	align-content: stretch;

	margin: -2px;
	padding: 0.5em 0.5em;
}
dy-terms dt,
dy-project-filters dt {
	display: inline-flex;
	align-items: center;
	align-self: center;
	line-height: 1.15;
	margin: 2px;
	margin-right: 0.4em;
}
dy-terms dt ~ *,
dy-project-filters dt ~ * {
	flex: 1 auto;
	margin: 2px;
	white-space: normal;
}
@media (max-width: 36rem) {
	dy-terms {
		flex-wrap: wrap;
	}
	/* div[data-taxonomy] {
		width: 100%;
	} */
}
