dy-terms dl,
dy-project-filters dl {
	display: grid;
	grid-gap: 0.5em;
	justify-items: center;
}
dy-terms dt,
dy-project-filters dt {
	flex: 0 auto;
	margin-right: 0.2em;
}
dy-terms [data-taxonomy],
dy-project-filters [data-taxonomy] {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
dy-terms dt ~ *,
dy-project-filters dt ~ * {
	flex: 1 auto;
	margin: 2px;
}

#terms {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: -0.25em -0.5em;
}

div[data-taxonomy] {
	justify-content: space-between;
	align-items: center;
	align-items: stretch;
	flex-wrap: wrap;
	align-content: flex-start;
	align-content: stretch;
	margin: -2px;
	padding: 0.5em 0.5em;
}
#terms dt {
	display: inline-flex;
	align-items: center;
	align-self: center;
	line-height: 1.15;
	margin: 2px;
	margin-right: auto;
	padding-right: 0.5ch;
}
.term, [rel=tag] {
	margin: 2px;
	white-space: normal;
}
@media (max-width: 36rem) {
	dy-terms {
		flex-wrap: wrap;
	}
	/* div[data-taxonomy] {
		width: 100%;
	} */
}
